#selogo { background-image: none; }
#loginbox { background: none; }

#portfolio #pf_webscreen { background: none; }
#portfolio #pf_bo { background: none; }
#portfolio #pf_randomstorm { background: none; }
#portfolio #pf_webw { background: none; }