---
---

$stolenegg-blue: #3a629f;
$stolenegg-pink: #ee1997;
$light-grey: #eeeeee;
$mid-grey: #666666;
$dark-grey: #333333;
$width-limit: 1180px;

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: $dark-grey;
    margin: 0;
    font-size: 15px;
}

/* layout */
.grid {
  display: grid;
  grid-template-rows: 80px 1fr auto;
  align-items: stretch;
  height: 100vh;
}

.width-limit {
  max-width: $width-limit;
  margin: 0 auto;
  padding: 0 10px;
}

hr
{
    background-color: $light-grey;
    border: 0 none;
    color: $light-grey;
    height: 1px;
}

/* logo */
.logo img {
  width: 180px;
  height: 45px;
  margin-top: 1em;
  margin: 1em auto;
  display: block;;
}

/* colours */
a {
  color: $stolenegg-blue;
}
a:hover {
  color: $stolenegg-pink;
}

.intro h1 {
  font-size: 120%;
  font-weight: normal;
}

.home-box {
  font-size: 90%;
  width: 100%;
}

/* service boxes */
.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3em;
}
.service {
  width: 280px;
  border: 1px solid $light-grey;
  border-radius: 10px;
  margin-top: 1em;
  background-color: $light-grey
}
.service .img-wrap {
  background-color: white;
  vertical-align: middle;
  display: table-cell;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  height: 175px;
  width: 265px;
}
.service img {
  margin: auto;
  display: block;
  width:100%;
  height: auto;
}
.service h3 {
  color: $stolenegg-pink;
  margin: 1em;
}
.service p {
  color: $mid-grey;
  font-size: 90%;
  margin: 1em;
}

/* external links */
.links {
  list-style-type: none;
  margin-top: 3em;
  height: 50px;
}
.links li {
  float: left;
  min-width: 120px;
}
.links .linkedin svg {
  width: 72px;
  fill: $stolenegg-blue;
  margin-top: 2px;
}
.links .linkedin svg:hover {
  fill: $stolenegg-pink;
}

.links .github svg {
  width: 72px;
  height: 20px;
  fill: $stolenegg-blue;
}
.links .github svg:hover {
  fill: $stolenegg-pink;
}


/* footer */
footer {
  color: white;
  background-color: $stolenegg-blue;
  border-top: 8px solid $stolenegg-pink;
  font-size: 75%;
  width: 100%;
  bottom: 0;
  line-height: 1.5em;
}
footer .deets {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer a {
  color: white;
}
footer ul {
  list-style-type: none;
  display: block;
  padding: 0;
  min-width: 200px;
}

footer ul li {
  float: left;
  padding-right: 8px;
}

.office li:first-child {
  float: none;
}
.office li:nth-child(n+3) {
  border-left: 1px solid $stolenegg-pink;
  padding-left: 8px;
}
.contact li:first-child {
  float: none;
}
.contact li:nth-child(n+3) {
  border-left: 1px solid $stolenegg-pink;
  padding-left: 8px;
}

.numbers li:nth-child(n+2) {
  border-left: 1px solid $stolenegg-pink;
  padding-left: 8px;
}

footer .copyright {
  font-size: 70%;
  text-align: center;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: $dark-grey;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  padding: 0 0.5em 0.2em 0;
  vertical-align: middle;
}

/* media queries */
@media only screen and (min-width:639px) {
  body {
    font-size: 16px;
  }
  .logo img {
    width: 200px;
    height: 50px;
    margin: 1em 0;
  }
  .width-limit {
    padding: 0 20px;
  }
  .services {
    justify-content: space-around;
  }
  .service {
    width: 225px;
  }
  .service .img-wrap {
    height: 140px;
    width: 205px;
  }
}
