---
title: Stolenegg
section: default
redirect_from:
 - /about
 - /contact
 - /login
---

{% include header.html %}

        <div class="intro">
          <h1>Stolenegg</h1>
          <p>
            <strong>Stolenegg</strong> is a software design &amp; development consultancy based in Leeds, UK.
          </p>
        </div>
        <div class="main-container">
          <div class="main-graphic">
            <img src="images/splash.png" alt="developer at work" />
          </div>
          <div class="main-text">
            <p>
              Since 2007, <strong>Stolenegg</strong> has delivered digital transformation projects for some of the UK's leading brands and public sector clients.
            </p>
            <ul class="expertise">
              <li>Front-end web application design and build</li>
              <li>Back-end API and database architecture</li>
              <li>Cloud infrastructure provisioning</li>
              <li>Test automation and continuous integration</li>
            </ul>

            <p>Get in touch today to find out more.</p>

            <ul class="links">
              <li>
                <a class="linkedin" href="https://www.linkedin.com/company/stolenegg-limited" target="_blank" rel="noopener noreferrer">{% include linkedin.svg %}</a>
              </li>
              <li>
                <a class="github" href="https://www.github.com/stolenegg" target="_blank" rel="noopener noreferrer">
                {% include github.svg %}</a>
              </li>
          </div>
        </div>


{% include footer.html %}
