---
title: Stolenegg
section: default
redirect_from:
 - /about
 - /contact
 - /login
---

{% include header.html %}

        <div class="intro">
          <h1><strong>Stolenegg</strong> is a software design and development consultancy based in Leeds, UK.
          </h1>
        </div>
        <div class="main-container">
          <div class="main-text">
            <p>
              Since 2007, <strong>Stolenegg</strong> has delivered digital transformation projects for some of the UK's leading brands and public sector clients. Our core services are outlined below.
            </p>
          </div>
          <div class="services">
            <div class="service">
              <div class="img-wrap">
                <img src="images/desk-dan.svg" alt="Dan at work" />
              </div>
              <h3>Front-end Design &amp; Build</h3>
              <p>Experts in responsive web design, with two decades of experience in HTML, CSS, and JavaScript development.</p>
            </div>
            <div class="service">
              <div class="img-wrap">
                <img src="images/backend.svg" alt="laptop API" />
              </div>
              <h3>Back-end Development</h3>
              <p>From API design and implementation to database architecture &#8211; a formal  background in software engineering ensures the fundamentals are done right.</p>
            </div>
            <div class="service">
              <div class="img-wrap">
                <img src="images/infra.svg" alt="cloud infrastructure" />
              </div>
              <h3>Cloud Infrastructure</h3>
              <p>We actually used to build our own servers, but times have changed! Using the latest cloud technologies we'll provision your infrastructure as code to ensure it's scalable, fast, and secure.</p>
            </div>
            <div class="service">
              <div class="img-wrap">
                <img src="images/ci.svg" alt="CI pipeline" />
              </div>
              <h3>Software Delivery Lifecycle Management</h3>
              <p>Code reviews, test automation, and continuous delivery through to monitoring and reporting in production, we'll keep things running smoothly.</p>
            </div>
          </div>

          <p>We are happy to work with you on-site or remotely. Get in touch today to find out more.</p>

          <ul class="links">
            <li>
              <a class="linkedin" href="https://www.linkedin.com/company/stolenegg-limited" target="_blank" rel="noopener noreferrer">{% include linkedin.svg %}</a>
            </li>
            <li>
              <a class="github" href="https://www.github.com/stolenegg" target="_blank" rel="noopener noreferrer">
              {% include github.svg %}</a>
            </li>
          </ul>

        </div>


{% include footer.html %}
