</div>
    </div> <!-- home-box -->

    <footer>
      <div class="width-limit">
        <div class="deets">
          <ul class="office">
            <li><strong>Stolenegg Limited</strong></li>
            <li class="address">15 Allerton Grange Vale</li>
            <li class="address">Leeds</li>
            <li class="address">LS17 6LS</li>
            <li class="address">UK</li>
          </ul>
          <ul class="contact">
            <li class="email"><a href="mailto:info@stolenegg.com" target="_blank" rel="noopener noreferrer">info@stolenegg.com</a></li>
            <li class="mobile-phone"><a href="tel:+447989976034">07989 976 034</a></li>
            <li class="landline"><a href="tel:+441138155399">0113 815 5399</a></li>
          </ul>

          <ul class="numbers">
            <li>Registered in England no. 06358948</li>
            <li>VAT reg. no. <span>GB</span>917723315</li>
          </ul>
        </div>
        <div class="copyright">&copy; {{ site.time | date: '%Y' }}</div>
      </div>
    </footer>

  </div><!-- .grid -->

<script src="//www.google-analytics.com/urchin.js" type="text/javascript"></script>
<script type="text/javascript">
_uacct = "UA-2966263-1";
urchinTracker();
</script>
</body>
</html>