</div>
    </div> <!-- home-box -->

    <footer>
      <div class="width-limit">
        <div class="deets">
          <ul class="office">
            <li><strong>Stolenegg Digital Ltd</strong></li>
          </ul>
          <ul class="contact">
            <li>
              <a target="_blank" rel="noopener noreferrer" href="mailto:&#105;n&#102;&#111;&#64;&#115;&#116;&#111;&#108;e&#110;&#101;&#103;&#103;&#46;c&#111;&#109;">
                <svg class="icon"><use xlink:href="#icon-envelope"></use></svg>&#105;nfo&#64;&#115;&#116;&#111;&#108;&#101;&#110;eg&#103;&#46;&#99;&#111;&#109;</a>
            </li>
          </ul>
          <ul class="numbers">
            <li>Registered in England no. 15910274</li>
          </ul>
        </div>
      </div>
      <div class="copyright">&copy; Stolenegg {{ site.time | date: '%Y' }}</div>
    </footer>

  </div><!-- .grid -->

</body>
</html>
